<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="WeiXinWeb.mapper.TipMapper">

    <select id="selectAllTips" resultType="WeiXinWeb.pojo.Tip">
        select id, tip
        from tips;
    </select>

    <insert id="addTip">
        insert into tips (tip)
        values(#{tipMessage});
    </insert>

</mapper>